@import url('https://fonts.googleapis.com/css2>family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffee00;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1.2em;
  letter-spacing: 2px;
}

.nav {
  display: flex;
  align-items: center;
  margin: 1em;
}

.nav li {
  list-style: none;
}

.nav li a {
  color: #ffee00;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 1.2em;
  font-size: 1.2em;
}

.nav li a:hover {
  color: #00d0ff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 275px auto;
}

h1 {
  color: #00d0ff;
  margin-bottom: .4em;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-weight: lighter;
}

p {
  color: #ffee00;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}

button {
  background: #00d0ff54;
  padding: 12px 45px;
  color: #fff;
  font-size: 1.4em;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 3px;
  border-radius: 25px;
  transition: all .5s ease;
  font-weight: bold;
}

button:hover {
  background: #ffee0054;
  transform: translateY(10px);
}